<% if(msg && msg.length){ %> 
<div class="alert alert-success alert-dismissible fade show col-7 offset-2" role="alert">
    <%=msg%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(err && err.length){ %> 
    <div class="alert alert-danger alert-dismissible fade show col-7 offset-2" role="alert">
        <%=err%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>